.box {
    height: 250px;
    width: 250px;
    border: 1px solid black;
    padding: 15px;
}

body {
    display: grid;
    grid-template-columns: repeat(auto-fit, 280px);
    gap:10px;
}

table, td, tr, th{
    border: 1px solid black;
}

.selected {
    background-color: #6DC3BB;
}

.smullBox {
    height: 50px;
    width: 50px;
    background-color: #6DC3BB;
}

.bigBox {
    height: 100px;
    width: 100px;
    background-color: #6DC3BB;
}